.left-container {
	width: 150px;
	text-align: justify;
	font-size: larger;
	padding: 5px;
	box-sizing: border-box;
}

.close-container {
	position: relative;
	left: 120px;
	cursor: pointer;
}

/* Update notification */

#update-download-link {
	font-weight: bold;
	text-decoration: none;
}

/* Player lookup */

#player-lookup-online {
	position: absolute;
	top: 5px;
	left: 5px;
}

#player-lookup-avatar {
	margin: 10px auto auto auto;
	display: block;
	width: 32px;
	box-shadow: 0 0 10px 1px black;
}

#player-lookup-name {
	line-height: 40px;
}

/* Main sidebar */

.option-container {
	width: 150px;
	display: flex;
}

.sidebar-input {
	width: 100%;
}

.sidebar-button {
	min-width: 75px;
}

/* Town popup */

#scrollable-list {
	overflow: auto;
	max-height: 200px;
}

.resident-list {
	white-space: pre-wrap;
}

#part-of-label {
	font-size: 85%;
}

.resident-clickable:hover {
	background-color: #ddd;
	cursor: pointer;
}

/* Alert */

#alert {
	position: absolute;
	width: 300px;
	font-family: 'Arial';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	background-color: white;
	color: black;
	font-size: large;
	box-sizing: border-box;
	padding: 8px;
	text-align: center;
}

#alert-message {
	margin-block: 0;
	text-align: justify;
}