/* .leaflet-control, #message-box, #prompt-box, .sidebar-input,
.sidebar-button, .leaflet-bar > a, .leaflet-tooltip-top,
.leaflet-popup-content-wrapper, .leaflet-popup-tip,
.leaflet-bar > a.leaflet-disabled {
    background: #111;
    color: #bbb;
    box-shadow: 0 0 2px 1px #bbb;
}

div.leaflet-control-layers.link img {
    filter: invert(1);
} */